* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-color: rgb(87, 142, 206);

}
header {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    background-color: var(--header-color); 
  }
  header h1{
    padding-left: 50px;
  }
  header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  header nav ul li{
    font-size: 1.5vw ;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;

  }