* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:root{
    --header-color: rgb(0, 0, 0);
    --h-text-: #f7013e;
    --name-tag: rgb(255, 255, 255);


}
header {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    background-color: var(--header-color); 
  }
  header h1{
    padding-left: 50px;
  }
  header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  header nav ul li{
    font-size: 1.5vw ;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
header a{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 3px solid var(--h-text-);
    color: var(--h-text-);
}
  h1{
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
  } 
  .span {
    margin-top: 10px;
    margin-bottom: 20px;}

  .tag{
    background-color:var(--h-text-) ;
    position: relative;
    line-height: 1.5px;
    padding-left: 10px;
    padding-right: 10px;

  }

.effects a:hover{
    color:var(--h-text-color)
    
}
.linear-gradient-background a:hover{
    background-image: 
        linear-gradient(
         0deg, blue, green 40%, red
    );
}
.hero{
  background-image: url(./images/hero.png);
  height: 325px;
  background-size: cover; 
  background-position:  100% 13%;
  background-attachment: fixed; 
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}

.quote{
  padding-bottom: 15px;
  padding-right: 15px;
}

.hero-tag{
  background-color: var(--name-tag);
  position: relative;
  line-height: 1.5;
  padding-left: 8px;
  padding-right: 8px;
  opacity: .8;
}
.hero-text{
  opacity: .95;
  font-size: 50px;
}
/* 
.restaurant-listing {
    position: relative;
    width: 41%;
    height: min-content;
    background: var(--header-color);
    margin: 2%;
    padding-left: 2%;
    transition: box-shadow 1s;
    z-index: 1;
  }
  .restaurant-listing:hover{
    box-shadow: 5px 5px 5px 1px #0000007a;
  }
  .restaurant-listing::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(172,80,242);
    background: linear-gradient(20deg, rgba(172,80,242,1) 15%, rgba(43,171,197,1) 87%);
    transition: opacity 0.5s linear;
    z-index: -1;
    opacity: 0;
  }
  .restaurant-listing:hover::before {
    opacity: 1;
  }*/